body {
  --color1: #eab64d;
  --color2: #930416;
  --color3: #64000d;
  --color4: #370003;
  --color5: #a32927;

  --header-height: 15%;
  --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
  --gutter: 30px;
  --footer-height: 5%;
  --radius-border: 15px;

  font-family: "Titillium Web", sans-serif;
  background-color: var(--color3);
}

.banner-pic {
  height: 150px;
}

.banner-area {
  margin: 0 auto;
}

#trial-pic {
  max-width: 100%;
  max-height: 100%;
  border-radius: var(--radius-border);
}

.side-style {
  background-color: var(--color1);
  border: solid var(--color4) 5px;
  border-radius: var(--radius-border);
  padding: 20px;
  box-shadow: var(--shadow);
}

.grid-container {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  gap: 20px 20px;
  margin: 0 25px;
}

.header-section {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  height: var(--header-height);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  color: var(--color1);
}

.rule-info-section {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 6;
}

.left-side {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.right-side {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.rule-section {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-select-section {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
  padding: auto;
  background-color: var(--color2);
  border: solid var(--color4) 5px;
  border-radius: var(--radius-border);
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.select-pic {
  margin: 10px;
  height: 90%;
  width: 90%;
  border: solid var(--color4) 5px;
  border-radius: var(--radius-border);
  box-shadow: var(--shadow);
  margin: auto;
  text-align: center;
}

#rock-area {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

#paper-area {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  display: flex;
  justify-content: center;
}

#scissors-area {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  display: flex;
  justify-content: center;
}

.description {
  color: var(--color1);
  font-weight: bold;
  font-size: 30px;
  text-shadow: 3px 3px black;
}

.rock-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

.paper-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

.scissors-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
}

input {
  display: none;
}

#trial-button {
  align-self: center;
  background-color: var(--color1);
  border: solid var(--color4);
  border-radius: var(--radius-border);
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin: 20px auto;
}

.score-section {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}

li {
  padding: 10px 10px 0 10px;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.reset-area {
  padding-top: 50px;
  padding-bottom: 50px;
}

.trial-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reset-button {
  background-color: var(--color2);
  border: solid var(--color4) 5px;
  border-radius: var(--radius-border);
  margin-bottom: 30px;
  color: var(--color1);
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  box-shadow: var(--shadow);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  box-shadow: var(--shadow);
  color: var(--color1);
}

input:checked {
  border: solid var(--color1) 5px;
}
